#greenback {
  color: rgb(23, 250, 80);
  font-size: 18px;
}
#name {
  color: black;
  font-size: 30px;
  font-weight: bolder;
}
#University {
  color: black;
  font-size: 18px;
  font-weight: 600;
}
